@import url('https://fonts.googleapis.com/css?family=Inconsolata:700|Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-transform: uppercase;
}
